.header-bg {
  background-color: $primary-color;
}

.header-bg-img {
  background-image: url("../assets/retropy-docs_CAT_Desk.png");
  background-repeat: no-repeat;
  background-color: $primary-color;
  background-position: center;
  background-size: contain;
  min-height: 390px;
}

.nav-gradient {
  background: linear-gradient(0deg, rgba(6,14,20,0) 0%, rgba(6,14,20,1) 100%); 
}


.landing-header {
  padding: 60px 0 100px;
  h1, h2 {
    margin: 0;
    color: $gray-color-dark;
  }
  h5 {
    font-family:'Inconsolata', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    color: $gray-color-dark;
    margin: -35px 120px 0px -120px;
    line-height: 1.5em;
  }
  button {
    margin: 20px 0;
  }

  //background-image: url('../assets/retropy-docs_CAT_Banner_Clear.png');

      
}
/*************************************************************************************************************/
//speech bubble generator
$black: #000;
$white: #fff;
$shadow: rgba(0,0,0,0.1);

$px: 4px;

body {
	background-color:#6e6565;
	padding: 60px;
}

$bubble-border: 0 -1*$px $white, 
		0 -2*$px $black, 
		$px 0 $white, 
		$px -1*$px $black, 
		2*$px 0 $black, 
		0 $px $white, 
		0 2*$px $black, 
		-1*$px 0 $white, 
		-1*$px  $px $black, 
		-2*$px 0 $black, 
		-1*$px -1*$px $black, 
		$px $px $black;

.bubble {
	position: relative;
	display: inline-block;
	margin: 5*$px;
	text-align: center;
	font-family: 'VK323', cursive;
	font-size: 16px;
	line-height:1.3em;
	// letter-spacing: -0.04em;
	background-color: $white;
	color: $black;
	padding: 3*$px;
	box-shadow: $bubble-border;
		
	box-sizing: border-box;
	width:200px;

	&::after {
		content: '';
		display: block;
		position: absolute;
		box-sizing: border-box;	
	}
	
	&.shadow { box-shadow: $bubble-border, $px 3*$px $shadow, 3*$px $px $shadow, 2*$px 2*$px $shadow; }
	
	&.mini { width:110px; font-size: 16px; padding: 4px; font-family: monospace; }

	&.grow { width:initial; }

	&.bottom::after {
		height: $px;
		width: $px;
		bottom: -2*$px;
		left: 8*$px;
		box-shadow: 
			0 $px $black, 
			0 2*$px $black, 
			0 3*$px $black, 
			0 4*$px $black, 
			-1*$px 3*$px $black, 
			-2*$px 2*$px $black, 
			-3*$px 1*$px $black, 
			-1*$px $px $white, 
			-2*$px $px $white, 
			-1*$px 2*$px $white, 
			-1*$px 0 $white, 
			-2*$px 0 $white, 
			-3*$px 0 $white;
	}

}

/*************************************************************************************************************/

.overview {
  background: $gray-color-light;
  .overview-point {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    h4, p {
      margin: 0;
    }
    h4 {
      background: $white;
      padding: 15px;
      border-radius: 30px;
      margin-right: 20px;
      color: $primary-color;
      box-shadow: $main-shadow;
      transition: all 0.3s ease;
      &:hover {
        background: $error;
        color: $white;
      }
    }
  }
}

.landing-section {
  padding: 100px 0;
}

.landing-spacer {
  margin: 160px auto;
}

.landing-spacer-top {
  margin-bottom: 120px;
}